header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px;
     background: #fafafa;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     height: 85px;
     box-shadow: 0 5px 25px rgba(0,0,0,.3);
     z-index: 9999;
     .logoSection{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          .logo{
               width: 150px;
               height: 55px;
               background: url("/logos/logo.svg") no-repeat;
               background-size: contain;
               background-position: center;
               &:hover{
                    background: url("/logos/logo-colorful.svg") no-repeat;
                    background-size: contain;
                    background-position: center;
               }
          }
     }
     form{
          width: 100%;
          position: relative;
          input{
               width: 100%;
               font-size: 16px;
               padding: 0.5em;
               margin-top: 5px;
               border-radius: 10px;
               border: 2px solid #a0a0a0;
               outline: none;
               transition: .3s;
               &:focus{
                    border-color: #0090ff;
                    box-shadow: 0 0 5px #0090ff;
               }
          }
          .formIcon{
               position: absolute;
               top: 8px;
               right: 8px;
          }
     }
     .menuIcon, .formIcon{
          display: flex;
          align-items: center;
          justify-content: center;
          color: #222;
          font-size: 32px;
          margin-left: 10px;
          background: none;
          border: none;
          cursor: pointer;
     }
     .profile{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .profile-pic{
               width: 64px;
               height: 64px;
               border-radius: 50%;
               box-shadow: 0 0 10px rgba(0,0,0,.7);
               margin-left: 15px;
          }
          .menu{
               position: absolute;
               top: 90px;
               right: 5px;
               background: #fafafa;
               color: #222;
               padding: 10px;
               border-radius: 10px;
               box-shadow: 0 5px 25px rgba(0,0,0,.3);
               .menu-profile{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .profile-pic{
                         width: 72px;
                         height: 72px;
                    }
                    .profile-info{
                         margin-left: 15px;
                         h2{
                              font-size: 21px;
                              font-weight: 500;
                         }
                         p{
                              color: #888;
                         }
                    }
               }
               .links{
                    border-top: 2px solid #ccc;
                    margin-top: 10px;
                    list-style: none;
                    padding: 0 5px;
                    li{
                         margin: 10px 0;
                         display: flex;
                         align-items: center;
                         color: #002a4f;
                         svg{
                              font-size: 21px;
                         }
                         a{
                              margin-left: 10px;
                              color: inherit;
                              text-decoration: none;
                              &:hover{
                                   color: #1988dd;
                              }
                         }
                         &.red{
                              color: #dc3545;
                              a:hover{
                                   color: #92232e;
                              }
                         }
                         &:last-child{
                              margin-top: 10px;
                              margin: 0;
                         }
                    }
               }
          }
     }
}