.quiz{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     .question{
          font-size: clamp(16px,9vw,25px);
          text-align: center;
     }
     .desc{
          width: 100%;
          max-width: 750px;
          margin-top: 15px;
          font-size: 18px;
     }
     .img{
          margin-top: 10px;
          position: relative;
          width: 100%;
          max-width: 750px;
          height: 300px;
          img{
               object-fit: contain;
               border-radius: 10px;
          }
     }
     .logo{
          margin-bottom: 10px;
     }
     .answers{
          margin-top: 10px;
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 10px;
     }
     .correct{
          margin-top: clamp(10px,100%,20px);
          font-size: clamp(20px,5vw,35px);
     }
     form{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          max-width: 420px;
          margin-top: 15px;
          input{
               width: 100%;
               font-size: 18px;
               padding: 0.5em;
               border: 2px solid #fafafa;
               border-radius: 10px;
               color: #fafafa;
               background: none;
               outline: none;
               transition: .3s;
               &:focus{
                    border-color: #88cbff;
                    box-shadow: 0 0 10px #88cbff;
               }
               &::placeholder{
                    color: #ccc;
               }
          }
          button{
               width: 150px;
               margin-top: 0;
               margin-left: 10px;
          }
     }
}
.quiz-results{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     .first-place{
          font-size: 40px;
          margin: 10px 0;
          color: #fad643;
     }
     .first-avatar{
          width: 150px;
          height: 150px;
          margin-bottom: 10px;
          border: 5px solid #b69121;
     }
     .name{
          font-size: 32px;
     }
     .other-placements{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 10px;
          .player{
               padding: 10px;
               margin: 5px;
               background: #fafafa;
               border-radius: 10px;
               *{color: #222;}
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               .player-avatar{
                    width: 120px;
                    height: 120px;
                    border: 2px solid #222;
               }
               h2{
                    margin-top: 5px;
               }
               .place{
                    font-size: 25px;
               }
               &.place1{
                    background: #edc531;
                    box-shadow: 0 0 25px 10px #b69121;
               }
               &.place2{
                    background: #d3d3d3;
               }
               &.place3{
                    background: #d69f7e;
               }
          }
     }
}
.quiz-player-placement{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     .placement-avatar{
          width: 150px;
          height: 150px;
     }
     .place{
          margin-top: 10px;
          font-size: 36px;
     }
     h2{
          margin: 5px 0;
          font-size: 32px;
          font-weight: 500;
     }
}