# Database
DATABASE_URL="neondb-connection-string-postgresql"

# Google
GOOGLE_ID="google-oauth-id"
GOOGLE_SECRET="google-oauth-secret"

# Facebook
FACEBOOK_ID="facebook-oauth-id"
FACEBOOK_SECRET="facebook-oauth-secret"

# Misc
RESEND_API_KEY="resend-api-key"
ONBOARDING_EMAIL="resend-onboarding-email" # onboarding@resend.dev
AUTH_SECRET="authjs-secret" # Added by `npx auth`. Read more: https://cli.authjs.dev
HOSTNAME="host-name" # localhost
PORT="host-port" # 3000

# URLS
NEXT_PUBLIC_APP_URL="public-app-url" # http://localhost:3000
AUTH_URL="app-auth-url" # http://localhost:3000