.dark{
     color: #fafafa !important;
     background: #222 !important;
     .main-container{
          background: linear-gradient(45deg,#002a4f,#0090ff);
          .avatar-editor .buttons{
               background: #222;
          }
     }
     @import "./buttons.scss";
     @import "./header.scss";
     @import "./feed.scss";
     @import "./form.scss";
     @import "./quizEditor.scss";
     @import "./quiz.scss";
     @import "./error.scss";
}