
.feed{
     background: #115b9c;
     color: #fafafa;
     .profile{
          background: #222;
          color: #fafafa;
          p{
               color: #ccc;
          }
     }
     .subject{
          .questions{
               .question{
                    color: #fafafa;
                    background: #222;
               }
          }
     }
     .subjects-discover{
          background: #222;
          color: #fafafa;
          h2{
               color: #73c2ff;
          }
          .draggable-tab{
               .icon{
                    &:first-child{
                         background: linear-gradient(90deg, #222 70%, transparent);
                    }
                    &:last-child{
                         background: linear-gradient(-90deg, #222 70%, transparent);
                    }
                    .icon-content{
                         color: #fafafa;
                         &:hover{
                              background: #0090ff;
                         }
                    }
               }
               .tabs{
                    li{
                         background: #cbe7ff;
                         border: 1px solid #acd8ff;
                         color: #222;
                         &.active{
                              background: #73c2ff;
                              border-color: transparent;
                         }
                    }
               }
          }
     }
     .questions{
          .question{
               color: #fafafa;
               background: #222;
          }
     }
     .lib-quiz-list .lib-quiz{
          background: #222;
          color: #fafafa;
          .quiz-details{
               .optBtn{
                    color: #009fff;
                    &:hover,&.active{
                         color: #73c2ff
                    }
                    &.red:hover{
                         color: #ff7280;
                    }
               }
          }
     }
     .quiz-info{
          .header, .question-list{
               background: #222;
               color: #fafafa;
          }
          .header{
               .author a{color: #73c2ff;}
               .options{
                    .optBtn{
                         color: #009fff;
                         &:hover,&.active{
                              color: #73c2ff
                         }
                         &.red:hover{
                              color: #ff7280;
                         }
                    }
               }
          }
          .question-list{
               .list-item{
                    border: 2px solid #ccc;
                    img{
                         box-shadow: 0 0 5px rgba(250,250,250,.5);
                    }
               }
          }
     }
     .users{
          .user{
               background-color: #222;
               color: #fafafa;
               box-shadow: 0 5px 25px rgba(250,250,250,.3);
          }
     }
     .user-header{
          background: #222;
          color: #fafafa;
     }
     footer{
          background: #222;
          color: #fafafa;
     }
}