
.quizEditor{
     .infoForm{
          background: #222;
          color: #fafafa;
          border: solid #cccc;
          border-width: 2px 0;
          .frmControl{
               input{
                    border: 2px solid #ccc;
                    background-color: #222;
                    color: #fafafa;
                    &:focus{
                         border-color: #73c2ff;
                         box-shadow: 0 0 5px #73c2ff;
                    }
               }
          }
     }
     .editor-container{
          .editor{
               .quiz{
                    background: #222;
                    color: #fafafa;
                    border: 2px solid #ccc;
                    box-shadow: 0 0 10px rgba(250,250,250,.3);
                    .imgPreview{
                         .overlay{
                              background: rgba(250,250,250,.7);
                              color: #fafafa;
                         }
                    }
                    .image{
                         border: 2px dashed #fafafa;
                         &:hover{
                              background: #fafafa;
                              color: #222;
                         }
                    }
                    .frmControl{
                         label{
                              background: #222;
                         }
                         input, textarea{
                              border: 2px solid #ccc;
                              background: #222;
                              color: #fafafa;
                              &:focus{
                                   border-color: #73c2ff;
                                   box-shadow: 0 0 5px #73c2ff;
                              }
                         }
                    }
                    .answers{
                         &.pick-one .answer{
                              .correctBtn{
                                   color: #ccc;
                                   &:hover{
                                        color: #fafafa;
                                   }
                                   &.active{
                                        color: #92e5a1;
                                   }
                              }
                         }
                    }
                    &.active{
                         border-color: #73c2ff;
                    }
               }
          }
          .editor-sidebar{
               background: #222;
               color: #fafafa;
               .label{
                    color: #009fff;
               }
          }
          .editor-sidebar{
               .frmControl{
                    label{
                         background: #222;
                    }
                    input, textarea, select{
                         border: 2px solid #ccc;
                         background: #222;
                         color: #fafafa;
                         &:focus{
                              border-color: #73c2ff;
                              box-shadow: 0 0 5px #73c2ff;
                         }
                    }
               }
               .switch-container{
                    .frmSwitch{
                         input{
                              &:checked + label{
                                   background: #73c2ff;
                              }
                         }
                         label{
                              background: #ccc;
                              .slider{
                                   background: #222;
                              }
                         }
                    }
               }
          }
     }
}