.subjects-discover{
     background: #fff;
     color: #222;
     padding: 10px;
     border-radius: 10px;
     list-style: none;
     width: 100%;
     h2{
          color: #002a4f;
          margin-bottom: 10px;
     }
     .draggable-tab{
          padding: 15px;
          border-radius: 13px;
          position: relative;
          .icon{
               position: absolute;
               top: 0;
               height: 100%;
               display: flex;
               width: 120px;
               align-items: center;
               &:first-child{
                    left: 0;
                    background: linear-gradient(90deg, #fafafa 70%, transparent);
                    .icon-content{
                         margin-left: 15px;
                    }
               }
               &:last-child{
                    right: 0;
                    justify-content: flex-end;
                    background: linear-gradient(-90deg, #fafafa 70%, transparent);
                    .icon-content{
                         margin-right: 15px;
                    }
               }
               .icon-content{
                    width: 55px;
                    height: 55px;
                    text-align: center;
                    line-height: 66px;
                    cursor: pointer;
                    font-size: 2.2rem;
                    border-radius: 50%;
                    transition: .3s;
                    border: none;
                    background: none;
                    &:hover{
                         background: #cbe7ff;
                    }
               }
          }
          .tabs{
               display: flex;
               gap: 12px;
               list-style: none; 
               overflow-x: hidden;
               scroll-behavior: smooth;
               li{
                    cursor: pointer;
                    font-size: 1.18rem;
                    background: #cbe7ff;
                    border: 1px solid #acd8ff;
                    white-space: nowrap;
                    padding: 13px 20px;
                    border-radius: 30px;
                    &.active{
                         color: #fff;
                         background: #0090ff;
                         border-color: transparent;
                    }
               }
          }
     }
}
.questions{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     width: 100%;
     .question{
          width: 100%;
          max-width: 450px;
          color: #222;
          padding: 10px;
          background: #fff;
          margin: 5px;
          h2{font-size: 21px;}
          border-radius: 10px;
          p{
               margin: 5px 0;
          }
     }
     .btns{
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          .btn{
               width: 100%;
               margin: 3px 5px 0;
          }
     }
}