.lib-quiz-list .lib-quiz{
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     background: #fafafa;
     color: #222;
     padding: 10px 15px;
     margin-top: 10px;
     border-radius: 10px;
     .quiz-info{
          width: 100%;
          cursor: pointer;
          h2{font-size: 24px;}
     }
     .quiz-details{
          display: flex;
          gap: 10px;
          justify-content: center;
          align-items: center;
          .optBtn{
               font-size: 21px;
               padding: 0.125em;
               display: flex;
               align-items: center;
               margin: 5px;
               color: #002a4f;
               cursor: pointer;
               background: none;
               border: none;
               &:hover,&.active{
                    color: #1988dd;
               }
               &.red:hover{
                    color: #dc3545;
               }
          }
     }
}