.quiz-info{
     .header, .question-list{
          background: #fafafa;
          padding: 15px;
          border-radius: 10px;
          color: #222;
     }
     h2{
          font-size: 36px;
          margin: 5px 0;
     }
     .header{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h1{
               display: flex;
               justify-content: center;
               align-items: center;
               gap: 15px;
          }
          .author a{color: #1988dd;}
          .links{
               display: flex;
               justify-content: center;
               align-items: center;
               a{
                    margin: 8px 5px 0;
               }
          }
          .options{
               margin-top: 5px;
               display: flex;
               align-items: center;
               .optBtn{
                    font-size: 21px;
                    padding: 0.125em;
                    display: flex;
                    align-items: center;
                    margin: 5px;
                    color: #002a4f;
                    cursor: pointer;
                    background: none;
                    border: none;
                    &:hover,&.active{
                         color: #1988dd;
                    }
                    &.red:hover{
                         color: #dc3545;
                    }
               }
          }
     }
     .print-header, .print-img, .print-questions{
          display: none;
     }
     .question-list{
          width: 100%;
          max-width: 600px;
          .list-item{
               display: flex;
               justify-content: space-between;
               align-items: center;
               border: 2px solid #aaa;
               margin: 5px 0;
               padding: 10px;
               border-radius: 10px;
               .info{
                    width: 86%;
                    .q{
                         font-size: 20px;
                         font-weight: 700;
                         span{font-weight: initial;}
                    }
                    .t,.answers,.desc{margin-top: 10px;}
                    .answers{
                         list-style: none;
                         li{
                              font-size: 18px;
                              width: 100%;
                              padding: 0.25em;
                         }
                    }
               }
               img{
                    border-radius: 10px;
                    margin-left: 12px;
                    box-shadow: 0 0 5px rgba(0,0,0,.5);
               }
          }
     }
}