.users{
     &,.user{
          display: flex;
          justify-content: center;
          align-items: center;
     }
     flex-wrap: wrap;
     gap: 10px;
     .user{
          background-color: #fafafa;
          color: #222;
          padding: 15px;
          border-radius: 10px;
          box-shadow: 0 5px 25px rgba(0,0,0,.3);
          flex-direction: column;
          .pfp{
               width: 150px;
               height: 150px;
               border-radius: 50%;
          }
          button{
               margin-top: 10px;
          }
          h2{
               margin: 8px 0 2px;
          }
          p{
               margin-bottom: 5px;
          }
     }
}
.user-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     padding: 15px;
     background: #fafafa;
     color: #222;
     border-radius: 10px;
     .info{
          display: flex;
          justify-content: center;
          align-items: center;
          .pfp{
               width: 150px;
               height: 150px;
               border-radius: 50%;
               margin-right: 20px;
          }
     }
     .user-details h1{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
     }
     .options{
          display: flex;
          align-items: center;
          gap: 10px;
     }
}