@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat.otf') format('opentype');
  font-display: swap;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
}
body{
  background: #fafafa;
  color: #222;
}
.disabled{
  user-select: none;
  pointer-events: none;
  opacity: .5;
}
.loader{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    font-size: 25px;
    margin-top: 15px;
  }
}
@import "./buttons.scss";
@import "./main.scss";
@import "./feed.scss";
@import "./quizEditor.scss";
@import "./dark-theme/dark.scss";
@import "./error.scss";
@media (prefers-reduced-motion: reduce) {*,*::after,*::before {transition: none !important;scroll-behavior: auto !important;transition-delay: 0 !important;}}