.quizEditor{
     display: flex;
     flex-direction: column;
     width: 100%;
     .infoForm{
          background: #fafafa;
          color: #222;
          padding: 10px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: solid #a0a0a0;
          border-width: 2px 0;
          position: fixed;
          top: 85px;
          z-index: 999;
          left: 0;
          width: 100%;
          .frmControl{
               display: flex;
               justify-content: center;
               align-items: center;
               width: 50%;
               margin: 5px 0;
               label{width: 35%;font-size: 18px;}
               input{
                    width: 100%;
                    font-size: 16px;
                    padding: 0.5em;
                    margin-top: 5px;
                    margin-left: 10px;
                    border-radius: 10px;
                    border: 2px solid #a0a0a0;
                    outline: none;
                    transition: .3s;
                    &:focus{
                         border-color: #0090ff;
                         box-shadow: 0 0 5px #0090ff;
                    }
               }
               &.disabled{
                    user-select: none;
                    pointer-events: none;
                    opacity: .5;
               }
          }
          .options button{
               margin: 0 5px;
          }
     }
     .editor-container{
          display: flex;
          width: 100%;
          justify-content: flex-start;
          align-items: center;
          .editor, .editor-sidebar{
               width: 100%;
          }
          .editor{
               width: calc(100% - 280px);
               margin-top: 80px;
               border-radius: 10px;
               .quiz{
                    position: relative;
                    background: #fafafa;
                    color: #222;
                    padding: 10px;
                    border: 2px solid #a0a0a0;
                    border-radius: 10px;
                    margin-top: 10px;
                    &:first-child{margin-top: 0;}
                    box-shadow: 0 0 10px rgba(0,0,0,.3);
                    .image, .imgPreview{
                         width: 100%;
                         height: 300px;
                         input{
                              display: none;
                         }
                    }
                    .imgPreview{
                         background-size: contain;
                         background-repeat: no-repeat;
                         background-position: center;
                         .overlay{
                              width: 100%;
                              height: 100%;
                              background: rgba(0,0,0,.7);
                              border-radius: 10px;
                              display: none;
                              justify-content: center;
                              align-items: center;
                              flex-direction: column;
                              color: #fafafa;
                              font-size: 25px;
                              cursor: pointer;
                              z-index: 99;
                         }
                         &:hover .overlay{
                              display: flex;
                         }
                    }
                    .image{
                         border-radius: 10px;
                         border: 2px dashed #222;
                         svg{
                              font-size: 64px;
                              margin-bottom: 10px;
                         }
                         &:hover{
                              background: #222;
                              color: #fafafa;
                              cursor: pointer;
                         }
                    }
                    &,.frmControl,.image{
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         flex-direction: column;
                         width: 100%;
                    }
                    .frmControl{
                         position: relative;
                         margin: 10px 0;
                         label{
                              position: absolute;
                              font-size: 16px;
                              left: 8px;
                              padding: 0 5px;
                              background: #fafafa;
                              top: -5px;
                         }
                         input, textarea{
                              width: 100%;
                              font-size: 16px;
                              padding: 0.5em;
                              margin-top: 5px;
                              border-radius: 10px;
                              border: 2px solid #a0a0a0;
                              outline: none;
                              transition: .3s;
                              resize: vertical;
                              &:focus{
                                   border-color: #0090ff;
                                   box-shadow: 0 0 5px #0090ff;
                              }
                         }
                    }
                    .answers{
                         width: 100%;
                         display: grid;
                         gap: 8px;
                         &.pick-one, &.true-false{
                              grid-template-columns: repeat(2,1fr);
                         }
                         &.text-answer{
                              grid-template-columns: auto;
                         }
                         &.pick-one .answer{
                              width: 100%;
                              &,.correctBtn{
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                              }
                              .correctBtn{
                                   font-size: 40px;
                                   margin-right: 10px;
                                   color: #a0a0a0;
                                   background: none;
                                   border: none;
                                   cursor: pointer;
                                   &:hover{
                                        color: #222;
                                   }
                                   &.active{
                                        color: #22b455;
                                   }
                              }
                         }
                    }
                    &.active{
                         border-color: #002a4f;
                    }
               }
          }
          .editor-sidebar{
               width: 100%;
               height: 100%;
               z-index: 999;
               top: 163px;
               position: fixed;
               background: #fafafa;
               color: #222;
               padding: 10px;
               max-width: 280px;
               overflow-y: auto;
               .label{
                    color: #002a4f;
                    margin-top: 10px;
                    &:first-child{margin-top: 0;}
               }
          }
          .editor-sidebar{
               right: 0;
               .options{
                    display: flex;
                    gap: 5px;
                    justify-content: flex-end;
                    align-items: center;
                    flex-direction: column;
                    button{
                         width: 100%;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         svg{
                              margin-right: 10px;
                              font-size: 25px;
                         }
                    }
               }
               .move-btns{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin: 30px 0 10px;
                    button{
                         width: 100%;
                         padding: 0.5em;
                         font-size: 24px;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                    }
               }
               .elems{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    .sidebar-elem{
                         display: flex;
                         flex-direction: column;
                         align-items: center;
                         justify-content: center;
                         gap: 0.5rem;
                         width: 120px;
                         height: 120px;
                         svg{
                              font-size: 32px;
                         }
                    }
               }
               .frmControl{
                    position: relative;
                    margin: 12px 0;
                    label{
                         position: absolute;
                         font-size: 16px;
                         left: 8px;
                         padding: 0 5px;
                         background: #fafafa;
                         top: -5px;
                    }
                    input, textarea, select{
                         width: 100%;
                         font-size: 16px;
                         padding: 0.5em;
                         margin-top: 5px;
                         border-radius: 10px;
                         border: 2px solid #a0a0a0;
                         outline: none;
                         transition: .3s;
                         &:focus{
                              border-color: #0090ff;
                              box-shadow: 0 0 5px #0090ff;
                         }
                    }
                    textarea{resize: vertical;}
               }
               .switch-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    p{flex-grow: 1;margin: 0;}
                    .frmSwitch{
                         input{
                              display: none;
                              &:checked + label{
                                   background: #0090ff;
                                   .slider{transform: translateX(30px)}
                              }
                         }
                         label{
                              cursor: pointer;
                              position: relative;
                              display: inline-block;
                              width: 65px;
                              height: 35px;
                              background: #ccc;
                              border-radius: 75px;
                              .slider{
                                   width: 100%;
                                   position: absolute;
                                   top: 4px; left: 4px;
                                   right: 0; bottom: 4px;
                                   width: 27px;
                                   height: 27px;
                                   background: #fafafa;
                                   border-radius: 50%;
                              }
                         }
                    }
                    
               }
               .counter{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 10px;
                    p{font-size: 32px;}
               }
          }
     }
}