&.settings{
     max-width: 100%;
     h1{
          margin-bottom: 15px;
     }
     .inner-width{
          color: #222;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 12px;
          border-radius: 10px 10px 0 0;
          .settings{
               .btns{
                    display: flex;
                    gap: 10px;
               }
               width: 100%;
               h2{
                    margin-bottom: 10px;
                    margin-top: 15px;
                    text-transform: capitalize;
                    &:first-child{
                         margin-top: 0;
                    }
               }
               .frmAvatar{
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .style, .color{
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         flex-direction: column;
                         width: 40%;
                    }
                    .color .avatarForm .inner-width{
                         flex-direction: column;
                         .frmControl{
                              width: 100%;
                              margin: 3px 0;
                         }
                    }
                    .avatar-preview{
                         width: 200px !important;
                         height: 200px;
                         border-radius: 50%;
                         margin-top: 10px;
                    }
               }
               .pfp-change{
                    margin-top: 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    img{
                         border-radius: 50%;
                    }
                    p{
                         width: 100%;
                         max-width: 420px;
                         margin-bottom: 10px;
                    }
                    input{display: none;}
                    .btns button{margin: 0 5px;}
               }
          }
          .profile-info{
               width: 250px;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               .pfp{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
               }
               h3,p{
                    text-align: center;
               }
               h3{
                    margin: 5px 0;
                    font-size: 21px;
                    font-weight: 600;
               }
               p{
                    color: #888;
                    font-weight: 500;
                    margin-top: 5px;
               }
               .settings-menu{
                    border-top: 2px solid #ccc;
                    margin-top: 10px;
                    list-style: none;
                    padding: 0 5px;
                    li{
                         margin: 10px 0;
                         display: flex;
                         align-items: center;
                         color: #002a4f;
                         svg{
                              font-size: 21px;
                         }
                         a{
                              margin-left: 10px;
                              color: inherit;
                              text-decoration: none;
                              &:hover{
                                   color: #1988dd;
                              }
                         }
                         &.red{
                              color: #92232e;
                              a:hover{
                                   color: #dc3545;
                              }
                         }
                         &:last-child{
                              margin-top: 10px;
                              margin: 0;
                         }
                    }
               }
          }
     }
     .setting-btns{
          width: 100%;
          border-radius: 0 0 10px 10px;
          background: #fafafa;
          padding: 10px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          button{
               margin: 5px;
          }
     }
}